.navbar {
    background-color: rgba(62, 14, 14, 0.247);
    padding: 10px;
    padding-left: 100px;
  }
  .na
  {
    background-color:white;
    border-radius: 6px;
    padding: 3px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    height: 27px;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
    float: right;
    padding-left: 10px;
    font-weight:bold;
    padding-right: 60px;
  }
  
  .navbar li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar li a:hover {
    /* background-color:white; */
  }
  .nav:hover
  {
    background-color: white;
    /* padding: 6px; */
    border-radius: 7px;
    transition: 0.7s;
  }
  .sidebar {
    width: 190px;
    background-color: #f0f0f0;
    border: #333;
    margin-left:1px;
    padding-left: 10px;
}

.sidebar h2 {
    color:grey;
    font-size: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .sidebar li {
    margin-bottom: 30px;
  }
  
  .sidebar li a {
      color:gray;
      text-decoration: none;
  }
  
  .sidebar li a:hover {
    color: black;
    font-weight: bold;
}
#save
  {
    padding-right: 10px;
    padding-left: 9px;
}
#trend
{
    font-size: larger;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    
}
.side
  {
      margin-top: 10px;
    }
    .side:hover
    {
        align-content: center;
        background-color:white;
        transition: 0.9s;
        cursor: pointer;
    }
    .hov:hover
    {
        font-size: large;
    }
    .flo
    {
        float: left;
    }
    .fle
    {
        /* margin-top: 10%;
    margin-bottom: 10%; */
    cursor: pointer;
    display: flex;
    padding-left: 3px;
    
}
/* .fle:hover
{        
    background-color: white;
} */
#sub
{
    padding-left: 10px;
    margin-top:5px;
}
/* .sideho
{
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 10%;
}
.sideho:hover
{
    background-color: white;
    /* font-size: large; */
    /* transition: 0.9s; */
/* } */
#line
{
    cursor: pointer;
}
h2
{
    padding-top: 10px;
    margin-left: 30px;
}
.foot
{
  background-color: black;
  padding-left: 10%;
  padding-bottom:12%;
}
img
{
  padding-left: 10px;
  padding-bottom: 40px;
  margin-left: 70px;
  margin-top: 10px;
}
.tot
{
  display: flex;
}
.image
{
  display: table-column;
}
.tot ::after {
  content: "";
  clear : both;
  display:table;
}
.head
{
  padding-left: 5%;
  margin-top: 1px;
  margin-left: 20px;
  padding-top: 40px;
  color: aqua;
  text-align: center;
}
.linking
{
  color: white;
}
#ju
{
  list-style-type: none;
}
.footot
{
  display: flex;
}
.media
{
  margin-left: 40px;
  /* margin-top: 10px; */
}
.some
{
  display: flex;
  padding-left:20px ;
}
.i
{
  margin-right:10px;
}
.i:hover
{
   transition: 0.4s;
  background-color: #f0f0f0;
  padding: 1px;
  border-radius: 6px;
}
.i:hover{
 background:#fff;
 box-shadow:0px 2px 10px 5px #97B1BF;
 color:#000;
}

.i:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px ;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.i:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.sideho {
  border-color: #f1c40f;
  color: black;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.sideho:hover {
  background-position: 0;cursor: pointer;
}
.fle {
  border-color: #f1c40f;
  color: black;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fle:hover {
  background-position: 0;
  cursor: pointer;
}

.nav {
  /* background: rgb(69, 69, 81); */
  color: lightgray;
  padding: 1px;
  border-radius: 5px;
  transition: transform 200ms;
}

.nav:hover {
  transform: rotate(5deg);
}
#last
{
  text-align: center;
  padding-top: 1px;
  color: #fff;
}
.api-fetch-img
{
  width: 70%;
  height: 70%;
  padding-top: 30px;
  padding-left:90px;
  margin: 5px;
  font-size: 14px;    
  border-radius: 10px;
  text-align: center;
}
.api-fetch-title
{
  text-align: center;
  padding-top: 30px;
  font-size:large;
  margin: 5px;
}
.api-fetch-mai
{
  /* text-align: center; */
   margin-left: 90px;
  border-bottom: #000 solid 1px;   
}
.api-fetch-desc
{
  margin-left: 90px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  font-size: larger;
}
.api-fetch-button{
  margin-left: 560px;
  position: relative;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  border:none;
  box-shadow: none;
  padding-bottom: 10px;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.api-fetch-button span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  cursor: pointer;

  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.api-fetch-button span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
  
}
.api-fetch-button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  color: black;
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.api-fetch-button:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.api-fetch-button:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
#bua
{
  text-decoration: none;
}
.ab
{
  padding-top: 20px;
  margin: 20px;
  font-size: large;
}
.abou{
  position: relative;
  font-size: xx-large;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}
.abou::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 6s linear infinite;

}
@keyframes animate{
  0%,10%,100%{
      width: 0;
  }
  70%,90%{
      width:26%;
  }
}
#w
{
  color: #1e01ff91;
  font-weight: bold;
}
.profile
{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  margin-top: 80px;
  border: black solid 3px;
  border-radius: 4px;
}
#profil
{
  margin-left: 10px;
}
#profi
{
  background-color: #01fe87;
 padding: 10px;
 margin-left: 300px;
 margin-right: 300px;
}
